# Database Connection
# Format: postgres://<user>:<password>@<host>:<port>
DATABASE_URL=postgres://postgres:password@localhost:5432/circuit_copilot

# Application Port
PORT=3000

# Environment (development | production)
NODE_ENV=development

# External API Proxy (Redirect non-implemented routes here)
EXTERNAL_API_URL=https://api-qa.circuit-copilot.com
